@{
    ViewData["Title"] = "Product Details";
}
@{
    Layout = "_LayoutProductDetails";
}
@model List<Project.Models.Product>
<link href="~/css/ProductDetails.css" rel="stylesheet" />
@foreach (var pro in Model)
{
    <div class="product-details">
        <div class="col-sm-5">
            <div class="view-product">
                <img src="@pro.ProductImageUrl" alt="" />

            </div>

            <div class="product-information" style=" top: 148px; left: 580px; right: 10px; bottom: 665px;">

                <img src="images/product-details/new.jpg" class="newarrival" alt="" />
                <h2>@pro.ProductName</h2>
                <img src="images/product-details/rating.png" alt="" />

                <span>
                    <span>@pro.ProductPrice.GetValueOrDefault(0).ToString("N0") VND</span>

                    <div class="add">
                        <a asp-action="AddToCart" asp-controller="Cart" asp-route-productid="@pro.ProductId" role="button">Add To Cart</a>
                    </div>
                </span>
                
                <p><b>Mô Tả:</b> @pro.ProductDescription</p>
                <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>
            </div>
        </div>
    </div>
}