@model List<Project.Models.CartItem>
@await Html.PartialAsync("_CartPartial")

@{
    ViewBag.Title = "Thanh toán";
}


<div class="content">
    <div class="section group">
        @if (Model.Count > 0)
        {
            decimal total = 0;
            int stt = 1;

            <table class="table">
                <tr>
                    <th>STT</th>
                    <th>Sản phẩm</th>
                    <th>Hình ảnh</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th></th>
                </tr>
                @foreach (var cartitem in Model)
                {
                    var thanhtien = cartitem.Quantity * cartitem.product.ProductPrice;
                    <tr>
                        <td>@(stt++)</td>
                        <td>@cartitem.product.ProductName</td>
                        <td><img src="@cartitem.product.ProductImageUrl" width="100" /></td>
                        <td>@cartitem.product.ProductPrice.GetValueOrDefault(0).ToString("N0")</td>
                        <td><input asp-for="@cartitem.Quantity" id="@($"quantity-{cartitem.product.ProductId}")" /></td>
                        <td>@((total += cartitem.product.ProductPrice.GetValueOrDefault(0) * cartitem.Quantity).ToString("N0"))</td>
                    </tr>
                }
                <tr>
                    <td colspan="4" class="text-right">Tổng tiền</td>
                    <td>@(total.ToString("n0"))</td>
                    <td></td>
                </tr>
            </table>
        }
        else
        {
            <p class="alert alert-danger">Giỏ hàng trống</p>
        }

    </div>
    <div class="section group">
        <div class="col-md-6">
            @using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post))
            {
                <div class="form-group">
                    <label>Người nhận</label>
                    <input name="shipName" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Điện thoại</label>
                    <input name="mobile" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input name="address" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input name="email" class="form-control" />
                </div>
                @*<button type="submit" class="btn">Gửi đơn hàng</button>*@

                @*<a asp-controller="Cart" asp-action="CheckOut" class="btn btn-success">Gửi đơn hàng</a>*@
            }
        </div>

    </div>
</div>